{% extends "base/base.html" %}
{% load staticfiles %}

{% block content %}
<section class="search centered">
    <p>olá {{user.first_name}}</p>
    <img class="rounded-circle foto-perfil img-fluid" src='{{user_animal.photo.url}}' alt="img profile" width="50">
    <form action="{% url 'edit_photo' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
        <button class="nav-item" type="submit">UPLOAD</button>
        <a href="{% url 'edit_profile' %}">EDIT</a>
        <a href="{% url 'update_to_king' %}">PROMOVERSE PARA KING</a>
        <a href="{% url 'delete_user' %}">APAGAR CONTA</a>

    </form>
</section>
    
{% endblock %}