{% extends "base/base.html" %}
    {% load staticfiles %}
    {% block content %}
    <section class="centered">
      <div class="rating centered">
        <div class="title"> Evento {{ event_name }} - Tags </div>
        <form method="POST">
            {% csrf_token %}
            <label> Tipo </label>
            {{form.type}}
            <label> Gosto Musical </label>
            {{form.music_taste}}
            <label> Bebidas </label>
            {{form.drink}}
            <label> Preço </label>
            {{form.price}}
            <label> Distância </label>
            {{form.distance}}

            <button type="submit">Adicionar</button>
        </form>
    </div>
    </section>
    {% endblock %}
