{% extends "base/base.html" %}
{% load staticfiles %}

{% block content %}
  <section class="main">
    <div class="search centered">
      <span class="title"><span id="title"></span>|</span>
      <form action="/search"><input placeholder="EXPERIMENTE “SÃO PAULO”"></form>
    </div>
  </section>

  <section class="col-md-12 top-search">
    <span class="title"> POPULARES NO MOMENTO </span>
    {% for evt in events %}
    <div class="row">
      <div class="col-md-3">
        <img src="{{evt.image.url}}" class="img-fluid"/>
        <a class="event-name" href="event">{{ evt.name }}</a>
        <p class="event-desc">{{ evt.description }}</p>
      </div>
    </div>
    {% endfor %}
  </section>
{% endblock %}
