{% extends "base/base.html" %}
{% load staticfiles %}

{% block content %}
  <section class="main">
    <div class="search centered">
      <span class="title"><span id="title"></span>|</span>
      <form action="/search"><input placeholder="EXPERIMENTE “SÃO PAULO”"></form>
    </div>
  </section>

  <section class="col-md-12 top-search">
    <span class="title"> POPULARES NO MOMENTO </span>
    <div class="row">
      <div class="col-md-3">
        <img src="{% static "images/evento.png" %}" class="img-fluid"/>
        <a class="event-name" href="event"> Event Name </a>
        <p class="event-desc"> Descrição do evento evento evento evento evento evento evento evento evento evento </p>
      </div>
    </div>
  </section>
{% endblock %}
