{% extends "base/base.html" %}
{% load staticfiles %}

{% block content %}
<style>
.my-row {
  height: 100%;
}
</style>
<section class="main">
  <div class="search centered">
    <span class="title"><span id="title"></span>|</span>
    <form action="{% url 'search' %}"><input name='search' placeholder="EXPERIMENTE “SÃO PAULO”"></form>
  </div>
</section>

<section class="col-md-12 top-search">
  <span class="title"> POPULARES NO MOMENTO </span>
  <div class="row">
  {% for evt in events %}
    <div class="event col-md-4">
      <div class="my-row" style="background: url('{{evt.image.url}}');background-size: auto;display: block;background-repeat: no-repeat;height: 400px;">
    </div>
    <a class="title" href="{% url 'details_event' evt.id %}"><p>{{ evt.name }}</p></a>
    <p class="event-desc">{{ evt.description }}</p>
  </div>
  {% endfor %}
</div>

<div class="row text-center">
  <div class="col-12">
  <a href="{% url 'search' %}" class="col-2 float-right"><b>VER TODOS >><b></a>
</div>
</div>
</section>
{% endblock %}
