{% extends "base/base.html" %}
{% block content %}
<section class="main">
    <div class="login centered text-center">
        <a class="logo" href="{% url 'home' %}"> fui </a>
        <form method="POST">
            {% csrf_token %}
            <label> RESETAR SENHA </label>
            {{ form.as_p }}
            <input type="submit" value="ME MANDE INSTRUÇÕES">
        </form>
        {% if form.errors %}
        {% for error in form.non_field_errors %}
        <div class="alert alert-danger" style="font-size: 12px;">
            {{ error|escape }}
        </div>
        {% endfor %}
        {% endif %}
    </div>
</section>
{% endblock %}